.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.px-2 {
  padding: 0 2rem;
}

.justify-content-end {
  justify-content: end;
}

.flex-col {
  flex-direction: column;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin-top: 2rem;
}

button.bk-btn.booked {
  cursor: no-drop;
  background: grey;
}

.m-0 {
  margin: 0;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.align-content-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.sticky {
  position: sticky;
}

.w-100 {
  width: 100%;
}

.top-0 {
  top: 0;
}

.h-40 {
  height: 40px;
}


.text-white {
  color: #fff;
}

.m-0 {
  margin: 0;
}


.padding-3 {
  padding: 24px;
}

.min-height-300 {
  min-height: 300px;
}

.max-width-100 {
  max-width: 100px;
}

.bg-white {
  background-color: #fff;
}

.mt-4 {
  margin-top: 2rem;
}


.main-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0;
}

.main-nav li {

  border-radius: 5px;
  cursor: pointer;
  color: orange;
  transition: all 0.1s ease-in;
  min-width: 100px;
}

.main-nav li ul {
  margin-top: 30px;
  position: absolute;
}

.show-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-2 {
  padding: 2rem;
}

.ticket-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  list-style: none;
  gap: 5px;
}

.bk-btn {
  border: 1px solid #eee;
  padding: 8px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}


.selected {
  background-color: green;
  font-weight: bold;
}

.show-ul li:hover {
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.page-padding {
  padding: 10px 20px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.btn-tables {
  display: block;
}

.card img {
  max-width: 250px;
  min-width: 250px;
  border-radius: 10px;
  min-height: 200px;
  max-height: 200px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-space-evenly {
  justify-content: space-evenly;
}