.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-content-center {
  align-items: center;
}

.sticky {
  position: sticky;
}

.w-100 {
  width: 100%;
}

.top-0 {
  top: 0;
}


.text-white {
  color: #fff;
}

.m-0 {
  margin: 0;
}


.padding-3 {
  padding: 24px;
}

.min-height-300 {
  min-height: 300px;
}

.bg-white {
  background-color: #fff;
}

.mt-4 {
  margin-top: 2rem;
}


.main-nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0;
}

.main-nav li {

  border-radius: 5px;
  cursor: pointer;
  color: orange;
  transition: all 0.1s ease-in;
  min-width: 100px;
}

.main-nav li ul {
  margin-top: 30px;
  position: absolute;
}

.show-ul li:hover {
  background-color: orange;
  color: #fff;
}

.page-padding {
  padding: 10px 20px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}